/*
font-family: 'Dancing Script', cursive;
font-family: 'Moon Dance', cursive;
font-family: 'Roboto', sans-serif;
*/

/* yellow
rgba(251,168,0,255) ou #fba800
#976702
white
#fff7e6

principal main
______________________________________________________________________

*/

:root {
  --main-color: #fba800;
  --main-colore: #c0392b;
  --body-bg: #181616;
  --box-bg: #221f1f;
  --black: #000000;
  --text-color: #fff7e6;
  --yello-color: #fba800;
  --nav-height: 60px;
  --space-top: 30px;
  --size: 30px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--body-bg);
  color: var(--text-color);
  padding-top: var(--nav-height);
}

a {
  text-decoration: none;
  color: unset;
}

img {
  max-width: 100%;
}

.main-color {
  color: var(--main-color);
}

.container {
  max-width: 1920px;
  padding: 0 30px;
  margin: auto;
}

/* navigation */
.nav-group {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: var(--black);
}
/* ideas  */
.nav-left {
  display: flex;
}

.presente li a {
  list-style-type: square;
}

.title {
  text-transform: uppercase;
  color: #fba800;
}
.presente-block {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 35px;
  padding: 15px 15px 15px;
  width: 250px;
  left: -70px;
  z-index: 1000;
  box-sizing: border-box;
  display: none;
}

.presente-block a {
  margin: 50px;
  text-transform: lowercase !important;
  float: none;
}

.block-1 {
  margin-bottom: 10px;
}

.row-block {
  margin: 10px;
}

#international-switcher:checked ~ .presente-block {
  display: block;
}
.international-edition {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.lista {
  margin-top: 10px;
}
.present-block ul {
  text-align: right;
}
.presente-block ul li {
  margin-bottom: 20px;
  padding: 0 15px;
}
.presente-block hr {
  background: transparent;
  border: 0;
  border-top: 1px solid #bfbfbf;
}
.presente-block p {
  text-align: right;
}
.flex-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flex-block label {
  margin-top: -18px;
  margin-left: 20px;
  margin-bottom: 10px;
  float: none;
  display: block;
}

input [type='radio'] {
  appearance: none;
  color: #000000;
}

.confirm {
  border: 1px solid #fff;
  color: black;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  border-radius: 10px;
}

.confirm:hover {
  background-color: #fba800;
  color: #fff;
  outline: none;
}

/* ideas  */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  height: var(--nav-height);
}

.nav a {
  color: var(--text-color);
}

.logo {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 3px;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-left: 80px;
}

.nav-menu li ~ li {
  margin-left: 30px;
}

.nav-menu a {
  text-transform: uppercase;
  font-weight: 700;
}

.nav-menu a:hover {
  color: var(--main-color);
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* search bar  */
.pesquisar {
  font-size: 35px;
  margin-right: 10px;
  color: white;
}

.pesquisar:hover {
  color: #fba800;
}

.search-switcher-label {
  margin: 0 15px;
}
.page-search {
  position: relative;
}
.page-search-field {
  width: 300px;
  position: absolute;
  margin-top: 15px;
  right: 90px;
  font-weight: 300;
  font-size: 16px;
  padding: 5px;
  height: 30px;
  -webkit-appearance: textfield;
  display: none;
  border-radius: 9px;
  border: 2px solid #1a1713;
  outline: none;
}
.page-search-field-label {
  position: absolute;
  right: 85px;
  top: 5px;
  height: 30px;
  background: transparent;
  width: 100px;
  line-height: 30px;
  /* display: none; */
  color: #000;
  margin-top: 10px;
}

#search-switcher:checked ~ .page-search-field {
  display: block;
}
#search-switcher:checked ~ .page-search-field-label {
  display: block;
}
/* end of search bar done  */

/* dropdown */

.user-profil i {
  font-size: var(--size);
  color: var(--main-color);
  margin-right: 40px;
}

.dropdown-list {
  display: none;
  position: absolute;
  background-color: var(--text-color);
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
  padding: 5px;
  right: 30px;
}

.dropdown-list a {
  float: none;
  font-size: 20px;
  color: var(--black);
  padding: 10px 14px;
  text-decoration: none;
  /* display: block; */
  text-align: left;
}

.dropdown-list:hover {
  background-color: #fba800;
}

.dropdown:hover .dropdown-list {
  display: block !important;
  width: 150px;
  height: 80px;
}

/* end of dropdown */

/* -- mobile */
.menu-bar {
  height: var(--size);
  width: var(--size);
  cursor: pointer;
  z-index: 101;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  display: none;
}

.toggle-bar {
  position: relative;
}
.toggle-bar,
.toggle-bar::before,
.toggle-bar::after {
  width: var(--size);
  height: 3px;
  border-radius: 0.5rem;
  background-color: var(--text-color);
  transition: 0.4s;
}

.toggle-bar::before,
.toggle-bar::after {
  content: '';
  position: absolute;
  left: 0;
}

.toggle-bar::before {
  top: -10px;
}

.toggle-bar::after {
  bottom: -10px;
}

.menu-bar.active .toggle-bar {
  background-color: transparent;
}

.menu-bar.active .toggle-bar::before {
  transform-origin: top left;
  transform: rotate(45deg);
  left: 6px;
}

.menu-bar.active .toggle-bar::after {
  transform-origin: bottom left;
  transform: rotate(-45deg);
  left: 6px;
}

/* -- end of  mobile */

/* end of navigation */

/* RESPONSIVE */
@media only screen and (max-width: 850px) {
  html {
    font-size: 12px;
  }

  .menu-bar {
    display: grid;
  }

  .nav-menu {
    /* display: none; */
    position: absolute;
    top: 100%;
    left: -100%;
    background-color: #000;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    padding: 20px;
    transition: 0.3s ease-in-out;
  }

  .nav-menu li {
    margin: 10px 30px;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-right {
    margin-left: 80px;
  }
  .page-search {
    margin-right: -30px;
  }
  .pesquisar {
    font-size: 20px;
    margin-right: 5px;
    color: white;
  }

  .search-text {
    display: none;
  }

  .page-search-field {
    width: 180px;
    position: absolute;
    margin-top: 5px;
    right: 70px;
    font-weight: 300;
    font-size: 16px;
    padding: 5px;
    height: 30px;
    -webkit-appearance: textfield;
    display: none;
    border-radius: 9px;
    border: 2px solid #1a1713;
    outline: none;
  }

  .page-search-field-label {
    position: absolute;
    right: 15px;
    top: -1px;
    height: 20px;
    background: transparent;
    width: 100px;
    line-height: 20px;
    display: none;
    color: #000;
    margin-top: 10px;
  }

  .dropdown {
    margin-left: 30px;
  }

  .dropdown:hover .dropdown-list {
    display: block !important;
    width: 100px;
    height: 60px;
  }

  .dropdown-list {
    display: none;
    position: absolute;
    background-color: var(--text-color);
    box-shadow: 0px 8px 16px 0px rgba(75, 73, 73, 0.4);
    z-index: 1;
    padding: 5px;
    right: 90px;
  }
}
